Host codebase.plus4u.net
Hostname codebase.plus4u.net
IdentityFile ~/.ssh/id_codebase_uuee

Host dev-msgbus-repo
HostName uucloud-dev-msgbus-repo.westeurope.cloudapp.azure.com 
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa_uuadmin

Host dev-docker-registry
HostName uucloud-dev-docker-registry.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host dev-uuc3
HostName uucloud-dev-c3.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host dev-msgbus-uuc3
HostName 10.0.2.10
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa_uuadmin
ProxyCommand ssh -q -W %h:%p dev-uuc3

Host dev-uuApps
HostName uucloud-dev-uuapps.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host dev-uuOR
HostName uucloud-dev-or.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host dev-gateway
HostName uucloud-dev-gw.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host oracle
HostName uucloud-dev-oracle.westeurope.cloudapp.azure.com
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host uucloud-dev-swarm-mgr1
HostName uucloud-dev-swarm-mgr1.westeurope.cloudapp.azure.com 
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host uucloud-dev-swarm-wrk1 
HostName uucloud-dev-swarm-wrk1.westeurope.cloudapp.azure.com 
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host uucloud-dev-swarm-wrk2 
HostName uucloud-dev-swarm-wrk2.westeurope.cloudapp.azure.com 
Port 22
User uuadmin
IdentityFile ~/.ssh/id_rsa

Host uugw
  HostName 10.50.0.113
  Port 22
  User centos
  IdentityFile ~/.ssh/id_rsa

Host uu2fa
  Hostname 172.16.0.1
  Port 22
  User 21-6164-1
